.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    background: white;
}

.cart {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;

    img {
        width: 100%;
        object-fit: contain;
    }

    .count {
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: #119d27;
        color: #fff;
        right: 0;
        top: 0;
        text-align: center;
        padding-top: 1px;
        font-size: 11px;
        border-radius: 100%;
        transform: translate(50%, -50%);
    }
}